<h2>Cadastrar Palavras-Chave</h2>

<form action="/palavraChaveCreate" method="post">
    <div class="form-group">
        <label for="inputPalavraChave">Palavras-Chave</label>
        <input type="text" class="form-control" id="inputPalavraChave" name="palavraChave">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>