<h2>Atualizar Palavras-Chave</h2>

<form action="/palavraChaveUpdate" method="post">
    <input type="hidden" name="id" value={{palavraChave.id}}>
    <div class="form-group">
        <label for="inputPalavraChave">Palavras-Chave</label>
        <input type="text" class="form-control" id="inputPalavraChave" name="palavraChave" value="{{palavraChave.palavraChave}}">
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>