<h2>Palavras Chaves Cadastradas</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">palavraChave</th>
            {{#if admin}}
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each palavraChave}}
        <tr>
            <th scope="row">{{palavraChave}}</th>
            {{#if ../admin}}
            <td><a href="palavraChaveUpdate/{{id}}">Editar</a></td>
            <td><a href="palavraChaveDelete/{{id}}">Deletar</a></td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>