<form action="/conhecimentoCreate" method="post">
    <div class="form-group">
        <label for="inputConhecimento">Conhecimento</label>
        <input type="text" class="form-control" id="inputConhecimento" name="conhecimento">
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>