<table class="table">
    <thead>
        <tr>
            <th scope="col">Conhecimento</th>
            {{#if admin}}
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each conhecimento}}
        <tr>
            <th scope="row">{{conhecimento}}</th>
            {{#if ../admin}}
            <td><a href="conhecimentoUpdate/{{id}}">Editar</a></td>
            <td><a href="conhecimentoDelete/{{id}}">Deletar</a></td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>