<h2>Atualizar Conhecimento</h2>
<form action="/conhecimentoUpdate" method="post">
    <input type="hidden" name="id" value={{conhecimento.id}}>
    <div class="form-group">
        <label for="inputConhecimento">Conhecimento</label>
        <input type="text" class="form-control" id="inputConhecimento" name="conhecimento" value="{{conhecimento.conhecimento}}">
    </div>
    <button type="submit" class="btn btn-primary">Editar</button>
</form>