<form action="/projetoCreate" method="post">​
    <div class="form-group">
        <label for="inputNome">Nome</label>
        <input type="text" class="form-control" id="inputNome" name="nome">
    </div>
    <div class="form-group">
        <label for="inputLinkExterno">Link externo</label>
        <input type="text" class="form-control" id="inputLinkExterno" name="linkExterno">
    </div>
    <div class="form-group">
        <label for="inputResumo">Resumo</label>
        <input type="text" class="form-control" id="inputResumo" name="resumo">
    </div>
    <label for="palavrasChaveId">Palavras-chave:</label>
    <select name="palavrasChaveId[]" id="palavrasChaveId" multiple size="5">
        {{#each palavrasChaveIds}}
            <option value="{{id}}">{{nome}}</option>
        {{/each}}
    </select>
    <br><br>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
        
</form>